<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email_Confirm</title>
</head>
<body>
<div style="font-family: Arial, sans-serif; background-color: #f0f0f0; padding: 20px;">
    <div style="max-width: 600px; margin: auto; background-color: white; padding: 30px; border-radius: 5px; border: 1px solid #ccc;">
        <img src="iconMain.png" style="width: 100px; display: flex;margin: auto" alt="NTNRunning">
        <h2 style="text-align: center; color: #222;">THÔNG BÁO NHẬN BIB</h2>
        <p style="text-align: center; color: #666;">NOTICE: RACE KIT COLLECTION</p>

        <p>Thân gửi vận động viên,</p>
        <p><strong>Vận động viên vui lòng mang theo CCCD hoặc Hộ chiếu khi check-in nhận BIB.</strong></p>
        <hr>
        <p><strong>Please bring your Citizen ID (CCCD) or Passport</strong> when checking in to collect your BIB.</p>
        <p>
            Ban Tổ Chức trân trọng thông báo, mã QR của bạn dưới phần đính kèm!
        </p>
        <p style="display: flex;justify-content: center">Vui lòng dùng mã QR này để nhận race-kit</p>
        <p style="display: flex;justify-content: center">Please use this QR code to collect your race-kit</p>
    </div>
</div>

</body>
</html>