.logo-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);/*cột*/
    grid-template-rows: repeat(3, auto); /*dòng*/
    gap: 10px;
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

/* div logo */
.logo-box {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* hover */
.logo-box:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.logo-image {
    max-width: 100%;
    height: auto;
}
